body{
    background: rgb(34, 95, 169);
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgb(28, 68, 121);
    max-width: 400px;
}
.todos li{
    color: #fff;
    background: rgb(28, 68, 121);
    border-color: #152555;
    border-width: 2px;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}
